header {
    background-color: transparent;
    padding: 0;
    text-align: center;
    h1 {
        color: #fff;
        font-size: 28px;
        text-align: center;
        padding: 20px 0;
      }
  }
